* {
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

html,
body {
  margin: 0;
  padding: 0;
}

.max-width-wrapper {
  max-width: 800px;
  margin: 0 auto;
  padding: 0 16px;
}

.intro-chunk {
  max-width: 400px;
  padding: 24px 16;
}

.title {
  font-size: 2rem;
  font-weight: 700;
  padding: 32px 0px 24px 0px
}
.indented-heading {
  font-size: 1.5rem;
  padding: 16px 24px;
  background-color: hsl(45deg, 100%, 50%);
  border-style: solid;
  border: 0px solid;
  border-bottom: 8px solid hsl(45deg, 100%, 40%);
  width:fit-content;
  margin: -8px -24px;
}

.card {
  background-color: white;
  border-style: solid;
  border: 0px solid;
  border-bottom: 8px solid hsl(0deg, 0%, 40%);
  padding: 16px;
}

strong {
  color: hsl(160deg, 100%, 30%);
}
p {
  font-size: 1.125rem;
  line-height: 1.5;
}

header {
  background-color: white;
  border-style: solid;
  border-bottom: 8px solid hsl(0deg, 0%, 40%);
}

main {
  background-color: hsl(0deg, 0%, 60%);
  padding: 64px 0px;
}
